/* ==============================
MAIN DASHBOARD STYLING
============================== */

/* Dashboard cards grid layout */
.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

/* Individual dashboard card style */
.dashboard-card {
    background-color: var(--body-color);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 1px solid var(--title-color);
}

/* Hover effect on dashboard cards */
.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Card title */
.dashboard-card h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1rem;
}

/* Card paragraph */
.dashboard-card p {
    font-size: 1rem;
    color: var(--title-color);
    margin: 0;
}

/* ========
    MODAL 
=========== */
.table-responsive {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 2rem;
}
.modal-custom{
    max-width: 95%;
    width: 95%;
}
.custom-btn {
    margin-right: 15px; /* Adjust as needed */
}


#profile-container {
    background-color: var(--body-color);    
    box-shadow: var(--box-shadow);
    border: 1px solid var(--title-color);
    border-radius: 10px;
    color: var(--title-color);
}

.attendance-records{
    margin-top: 3rem;
    min-width: 350px;
    padding: 1rem;
    background-color: var(--body-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    height: 600px;
    border: 1px solid var(--title-color);
    margin-bottom: 2rem;
}

#attendanceRecordsHeader {
    margin-bottom: 1.5rem;
}